.check-box-wrapper {
    display: flex;
    color: green;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.5rem;
    cursor: default;
}

.check-box-label {
    font-family: 'Courier New', Courier, monospace;
}

.check-box {
    margin: 0.5rem;
    border: solid thin green;
    border-radius: 0.25rem;
    width: 1rem;
    height: 1rem;
    background-color: transparent;
    cursor: pointer;
}

.check-box:hover {
    background-color: #004400;
}

.check-box-checked {
    background-color: green;
}
