.input-time-input {
    background-color: black;
    color: green;
    padding: 0.5rem;
    outline: none;
    border: solid thin green;
    display: inline-block;
    width: 3rem;
    display: inline-block;
    padding: 0.5rem;
    box-shadow: inset 0px 0px 14px 0px rgb(10 160 20);
    text-align: center;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 0.5rem;
    margin-left: 1rem;
}
.input-time-icon {
    background-image: url("./clock.svg");
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    color: green;
    background-size: contain;
    margin-left: 1rem;
}

.input-time-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.TimePicker-wrapper li {
  text-align: center;
  padding: 2px;
}
.TimePicker-wrapper li:hover {
  background-color: green;
  color: black;
  cursor: pointer;
}
.TimerPicker-list {
  list-style-type: none;
  padding: 0;
}

.TimePicker-wrapper {
  width: 10rem;
  height: 12rem;
  display: flex;
}

.TimePicker-selected {
  border: green thin solid;
  border-radius: 0.5rem;
}

.TimePicker-minutes-container {
  width: 4rem;
  overflow: auto;
}
.TimePicker-seconds-container {
  width: 4rem;
  overflow: auto;
}
